Theory and Practice of Data Cleaning: Final Project Code

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read Dataset crew
crew = pd.read_csv("title_crew.tsv", sep='\t')
crew.head(3)

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N

In [3]:
crew = crew[['tconst', 'directors']]
crew.head(3)

      tconst  directors
0  tt0000001  nm0005690
1  tt0000002  nm0721526
2  tt0000003  nm0721526

In [4]:
#Read Dataset basics
basics = pd.read_csv("basics.tsv", sep='\t')
basics.head(3)

/Users/megs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"

In [5]:
#Read Dataset akas
akas = pd.read_csv("akas.tsv", sep='\t')
akas.head(3)

/Users/megs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0

In [6]:
akas.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

convert object datatype for isOriginal to integer type

In [7]:
#movies_dataframe_akas["isOriginalTitle"]= movies_dataframe_akas.isOriginalTitle.astype(int)

Select only English Titles (using isOriginalTitle)

In [8]:
akas=akas.loc[akas['isOriginalTitle'] == '1']
akas.head(10)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
65538,tt0020504,1,"The Time, the Place and the Girl",\N,\N,original,\N,1
65542,tt0020506,2,The Tip Off,\N,\N,original,\N,1
65554,tt0020508,8,Tokai kokyogaku,\N,\N,original,\N,1
65556,tt0020509,10,Tokkan kozô,\N,\N,original,\N,1
65575,tt0020510,6,Tôkyô kôshinkyoku,\N,\N,original,\N,1
65579,tt0020511,3,Tonight at Twelve,\N,\N,original,\N,1
65582,tt0020512,1,Trail of the Horse Thieves,\N,\N,original,\N,1
65593,tt0020513,9,Trent's Last Case,\N,\N,original,\N,1
65596,tt0020514,12,The Trespasser,\N,\N,original,\N,1
65610,tt0020515,2,Trial Marriage,\N,\N,original,\N,1

Check for the duplicates in akas dataframe

In [9]:
#boolean = any(akas.duplicated(subset=['tconst']))
#print(boolean, end='\n\n')

In [10]:
#Read Dataset episode
episode = pd.read_csv("episode.tsv", sep='\t')
episode.head(3)

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N

In [11]:
#Read Dataset ratings
ratings = pd.read_csv("ratings.tsv", sep='\t')
ratings.head(3)

      tconst  averageRating  numVotes
0  tt0000001            5.6      1552
1  tt0000002            6.1       186
2  tt0000003            6.5      1211

In [12]:
#Read Dataset principals
principals = pd.read_csv("principals.tsv", sep='\t')
principals.head(3)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N

In [13]:
principals.dtypes

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

In [14]:
#Read Dataset name_basics
name_basics = pd.read_csv("name_basics.tsv", sep='\t')
name_basics.head(3)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0049189,tt0057345"

In [15]:
name_basics.dtypes

nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtype: object

Concatenate dataframes based on nconst: principals + name_basics

In [16]:
master_table1 = pd.merge(principals,name_basics, on=['nconst'])
print(master_table1)

             tconst  ordering      nconst         category            job  \
0         tt0000001         1   nm1588970             self             \N
1         tt7513040         2   nm1588970  archive_footage             \N
2         tt0000001         2   nm0005690         director             \N
3         tt0000005         3   nm0005690         director             \N
4         tt0000006         1   nm0005690         director             \N
...             ...       ...         ...              ...            ...
36633136  tt9916856         3  nm10538646            actor             \N
36633137  tt9916856         4  nm10538647          actress             \N
36633138  tt9916856         5  nm10538645         director             \N
36633139  tt9916856         6   nm6951431           writer  screenplay by
36633140  tt9916856         7  nm10538653         composer             \N

           characters           primaryName birthYear deathYear  \
0         ["Herself"]            Carmencita      1868      1910
1         ["Herself"]            Carmencita      1868      1910
2                  \N  William K.L. Dickson      1860      1935
3                  \N  William K.L. Dickson      1860      1935
4                  \N  William K.L. Dickson      1860      1935
...               ...                   ...       ...       ...
36633136  ["Stephan"]        Andreas Demmel        \N        \N
36633137    ["Kathi"]       Kathrin Knöpfle        \N        \N
36633138           \N      Johan Planefeldt        \N        \N
36633139           \N      Johan Planefeldt        \N        \N
36633140           \N        Farahnaz Hatam        \N        \N

                                 primaryProfession  \
0                                       soundtrack
1                                       soundtrack
2                cinematographer,director,producer
3                cinematographer,director,producer
4                cinematographer,director,producer
...                                            ...
36633136                                       NaN
36633137                                       NaN
36633138                                  director
36633139  writer,cinematographer,camera_department
36633140                                  composer

                                   knownForTitles
0                             tt0057728,tt0000001
1                             tt0057728,tt0000001
2         tt0219560,tt1428455,tt1496763,tt6687694
3         tt0219560,tt1428455,tt1496763,tt6687694
4         tt0219560,tt1428455,tt1496763,tt6687694
...                                           ...
36633136                                       \N
36633137                                       \N
36633138                                       \N
36633139                                tt4247168
36633140                                tt9916856

[36633141 rows x 11 columns]

In [17]:
master_table1 = pd.DataFrame(data=master_table1)
master_table1.head(10)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001"
1,tt7513040,2,nm1588970,archive_footage,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001"
2,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
3,tt0000005,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
4,tt0000006,1,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
5,tt0000007,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
6,tt0000008,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
7,tt0000036,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
8,tt0000060,1,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"
9,tt0000076,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694"

merge basics dataframe with master_table1 on tconst

In [18]:
master_table2 = pd.merge(master_table1,basics,on=['tconst'])
#print(master_table2)
master_table2 = pd.DataFrame(data=master_table2)
master_table2.head(10)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,William Heise,1847,1910,"cinematographer,director,producer","tt0229665,tt0241715,tt0241393,tt0285863",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
3,tt7513040,2,nm1588970,archive_footage,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
4,tt7513040,7,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director","tt0001223,tt0004457,tt0242312,tt0361066",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
5,tt7513040,3,nm0000122,archive_footage,\N,"[""Himself""]",Charles Chaplin,1889,1977,"writer,soundtrack,actor","tt0027977,tt0032553,tt0039631,tt0044837",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
6,tt7513040,6,nm0249325,self,\N,"[""Himself - guest at Berns Salonger""]",Gustaf Edgren,1895,1954,"director,writer,producer","tt0014324,tt0027164,tt0016355,tt0015434",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
7,tt7513040,8,nm0252475,self,\N,"[""Himself - guest at Berns Salonger""]",Hasse Ekman,1915,2004,"writer,actor,director","tt0037714,tt0040540,tt0042466,tt0050994",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
8,tt7513040,5,nm0804565,director,\N,\N,Gunnar Skoglund,1899,1983,"director,writer,editor","tt0033799,tt0048625,tt0047632,tt0032751",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"
9,tt7513040,4,nm0248639,self,\N,"[""Himself""]",Eskil Eckert-Lundin,1906,1974,"music_department,composer,soundtrack","tt0038497,tt0046345,tt0048641,tt0049659",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short"

merge crew dataframe with master_table2 on tconst

In [19]:
master_table3 = pd.merge(master_table2,crew,on=['tconst'])
#print(master_table3)
master_table3 = pd.DataFrame(data=master_table3)
master_table3.head(10)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690
1,tt0000001,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt0219560,tt1428455,tt1496763,tt6687694",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,William Heise,1847,1910,"cinematographer,director,producer","tt0229665,tt0241715,tt0241393,tt0285863",short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690
3,tt7513040,2,nm1588970,archive_footage,\N,"[""Herself""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
4,tt7513040,7,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director","tt0001223,tt0004457,tt0242312,tt0361066",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
5,tt7513040,3,nm0000122,archive_footage,\N,"[""Himself""]",Charles Chaplin,1889,1977,"writer,soundtrack,actor","tt0027977,tt0032553,tt0039631,tt0044837",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
6,tt7513040,6,nm0249325,self,\N,"[""Himself - guest at Berns Salonger""]",Gustaf Edgren,1895,1954,"director,writer,producer","tt0014324,tt0027164,tt0016355,tt0015434",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
7,tt7513040,8,nm0252475,self,\N,"[""Himself - guest at Berns Salonger""]",Hasse Ekman,1915,2004,"writer,actor,director","tt0037714,tt0040540,tt0042466,tt0050994",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
8,tt7513040,5,nm0804565,director,\N,\N,Gunnar Skoglund,1899,1983,"director,writer,editor","tt0033799,tt0048625,tt0047632,tt0032751",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565
9,tt7513040,4,nm0248639,self,\N,"[""Himself""]",Eskil Eckert-Lundin,1906,1974,"music_department,composer,soundtrack","tt0038497,tt0046345,tt0048641,tt0049659",short,Den gamla goda tiden,Den gamla goda tiden,0,1946,\N,6,"Documentary,Short",nm0804565

In [20]:
master_table3.dtypes

tconst               object
ordering              int64
nconst               object
category             object
job                  object
characters           object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
titleType            object
primaryTitle         object
originalTitle        object
isAdult               int64
startYear            object
endYear              object
runtimeMinutes       object
genres               object
directors            object
dtype: object

merge episode dataframe with master_table3 on tconst

In [21]:
master_table4 = pd.merge(master_table3,episode,on=['tconst'])
master_table4 = pd.DataFrame(data=master_table4)
master_table4.head(10)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,...,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber
0,tt0401146,1,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director",...,Thomas Edison: Father of Invention,0,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N
1,tt0401146,2,nm0673957,self,\N,"[""Himself - Host""]",Jack Perkins,1933,2019,NaN,...,Thomas Edison: Father of Invention,0,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N
2,tt0748486,4,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
3,tt0748486,1,nm0001016,self,\N,"[""Himself - Host""]",David Carradine,1936,2009,"actor,producer,soundtrack",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
4,tt0748486,6,nm1597971,composer,\N,\N,Eric Amdahl,\N,\N,"composer,music_department",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
5,tt0748486,8,nm2254436,self,\N,"[""Himself""]",Drew Gomber,\N,\N,"miscellaneous,actor",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
6,tt0748486,10,nm2369171,self,\N,"[""Himself""]",Marcus Huff,\N,\N,NaN,...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
7,tt0748486,7,nm2219344,composer,\N,\N,Dennis Hamlin,\N,\N,"sound_department,composer,music_department",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
8,tt0748486,9,nm2251841,self,\N,"[""Himself""]",Walter Greywolf,\N,\N,miscellaneous,...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3
9,tt0748486,5,nm1600320,director,\N,\N,Colin Campbell,\N,\N,"writer,producer,director",...,The Unexplained,0,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3

In [22]:
master_table4.dtypes

tconst               object
ordering              int64
nconst               object
category             object
job                  object
characters           object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
titleType            object
primaryTitle         object
originalTitle        object
isAdult               int64
startYear            object
endYear              object
runtimeMinutes       object
genres               object
directors            object
parentTconst         object
seasonNumber         object
episodeNumber        object
dtype: object

merge ratings dataframe with master_table4 on nconst

In [23]:
master_table5 = pd.merge(master_table4,ratings,on=['tconst'])
master_table5 = pd.DataFrame(data=master_table5)
master_table5.head(10)

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0401146,1,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director",...,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N,7.6,52
1,tt0401146,2,nm0673957,self,\N,"[""Himself - Host""]",Jack Perkins,1933,2019,NaN,...,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N,7.6,52
2,tt0748486,4,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
3,tt0748486,1,nm0001016,self,\N,"[""Himself - Host""]",David Carradine,1936,2009,"actor,producer,soundtrack",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
4,tt0748486,6,nm1597971,composer,\N,\N,Eric Amdahl,\N,\N,"composer,music_department",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
5,tt0748486,8,nm2254436,self,\N,"[""Himself""]",Drew Gomber,\N,\N,"miscellaneous,actor",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
6,tt0748486,10,nm2369171,self,\N,"[""Himself""]",Marcus Huff,\N,\N,NaN,...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
7,tt0748486,7,nm2219344,composer,\N,\N,Dennis Hamlin,\N,\N,"sound_department,composer,music_department",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
8,tt0748486,9,nm2251841,self,\N,"[""Himself""]",Walter Greywolf,\N,\N,miscellaneous,...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10
9,tt0748486,5,nm1600320,director,\N,\N,Colin Campbell,\N,\N,"writer,producer,director",...,2005,\N,\N,"Documentary,History,Western",nm1600320,tt0407461,3,3,7.9,10

In [24]:
master_table5.dtypes

tconst                object
ordering               int64
nconst                object
category              object
job                   object
characters            object
primaryName           object
birthYear             object
deathYear             object
primaryProfession     object
knownForTitles        object
titleType             object
primaryTitle          object
originalTitle         object
isAdult                int64
startYear             object
endYear               object
runtimeMinutes        object
genres                object
directors             object
parentTconst          object
seasonNumber          object
episodeNumber         object
averageRating        float64
numVotes               int64
dtype: object

Merge Akas and mastertable5 on 'titleId(it's basically a tconst)'

In [25]:
#First Rename the 'tconst' to 'TitleId' as both the columns are same and we need to get a consistency for the column name to apply further conditions.
master_table5 = master_table5.rename(columns={'tconst': 'titleId'})
master_table5.head(2)

,titleId,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0401146,1,nm0249379,archive_footage,\N,"[""Himself""]",Thomas A. Edison,1847,1931,"producer,director",...,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N,7.6,52
1,tt0401146,2,nm0673957,self,\N,"[""Himself - Host""]",Jack Perkins,1933,2019,NaN,...,1996,\N,\N,"Biography,Documentary",\N,tt0092322,\N,\N,7.6,52

In [26]:
final_dataframe = pd.merge(akas,master_table5,on=['titleId'])
final_dataframe = pd.DataFrame(data=final_dataframe)
final_dataframe.head(10)

,titleId,ordering_x,title,region,language,types,attributes,isOriginalTitle,ordering_y,nconst,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0045960,1,King Lear,\N,\N,original,\N,1,7,nm0000636,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
1,tt0045960,1,King Lear,\N,\N,original,\N,1,4,nm0281955,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
2,tt0045960,1,King Lear,\N,\N,original,\N,1,1,nm0000080,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
3,tt0045960,1,King Lear,\N,\N,original,\N,1,9,nm0861110,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
4,tt0045960,1,King Lear,\N,\N,original,\N,1,2,nm0663678,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
5,tt0045960,1,King Lear,\N,\N,original,\N,1,3,nm0608909,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
6,tt0045960,1,King Lear,\N,\N,original,\N,1,6,nm0111656,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
7,tt0045960,1,King Lear,\N,\N,original,\N,1,10,nm1276603,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
8,tt0045960,1,King Lear,\N,\N,original,\N,1,5,nm0567170,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
9,tt0045960,1,King Lear,\N,\N,original,\N,1,8,nm0725532,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147

In [27]:
final_dataframe.dtypes

titleId               object
ordering_x             int64
title                 object
region                object
language              object
types                 object
attributes            object
isOriginalTitle       object
ordering_y             int64
nconst                object
category              object
job                   object
characters            object
primaryName           object
birthYear             object
deathYear             object
primaryProfession     object
knownForTitles        object
titleType             object
primaryTitle          object
originalTitle         object
isAdult                int64
startYear             object
endYear               object
runtimeMinutes        object
genres                object
directors             object
parentTconst          object
seasonNumber          object
episodeNumber         object
averageRating        float64
numVotes               int64
dtype: object

Observations:
As we can see that 'title', 'primaryTitle' and 'originalTitle' are basically the same it's just that certain names in 'title' are non-english. Since we are focusing mostly on the English Names(Except for few exceptions where there is no translation involved), we will consider 'primaryTitle' hereafter. We will also remove 'isOriginalTitle' column since all the records considered are for original titles only.

In [28]:
#quickcheck
df = final_dataframe[['primaryTitle','originalTitle','title','isOriginalTitle']]
df.head(50)

,primaryTitle,originalTitle,title,isOriginalTitle
0,King Lear,King Lear,King Lear,1
1,King Lear,King Lear,King Lear,1
2,King Lear,King Lear,King Lear,1
3,King Lear,King Lear,King Lear,1
4,King Lear,King Lear,King Lear,1
5,King Lear,King Lear,King Lear,1
6,King Lear,King Lear,King Lear,1
7,King Lear,King Lear,King Lear,1
8,King Lear,King Lear,King Lear,1
9,King Lear,King Lear,King Lear,1
10,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
11,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
12,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
13,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
14,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
15,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
16,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
17,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
18,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
19,A Christmas Carol,A Christmas Carol,A Christmas Carol,1
20,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
21,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
22,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
23,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
24,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
25,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
26,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
27,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
28,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
29,The Miracle on 34th Street,The Miracle on 34th Street,The Miracle on 34th Street,1
30,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
31,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
32,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
33,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
34,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
35,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
36,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
37,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
38,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
39,The Ox-Bow Incident,The Ox-Bow Incident,The Ox-Bow Incident,1
40,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
41,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
42,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
43,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
44,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
45,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
46,The Forgotten Army,Wasurerareta kôgun,Wasurerareta kôgun,1
47,Because I Love You,Aisurebakoso,Aisurebakoso,1
48,Because I Love You,Aisurebakoso,Aisurebakoso,1
49,Because I Love You,Aisurebakoso,Aisurebakoso,1

Drop the above mentioned columns: title, OriginalTitle, isOriginalTitle

In [29]:
list_to_drop = ['originalTitle','title','isOriginalTitle']

In [30]:
final_dataframe=final_dataframe.drop(list_to_drop, axis=1)
final_dataframe.head(15)

,titleId,ordering_x,region,language,types,attributes,ordering_y,nconst,category,job,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0045960,1,\N,\N,original,\N,7,nm0000636,writer,play,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
1,tt0045960,1,\N,\N,original,\N,4,nm0281955,actor,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
2,tt0045960,1,\N,\N,original,\N,1,nm0000080,actor,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
3,tt0045960,1,\N,\N,original,\N,9,nm0861110,composer,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
4,tt0045960,1,\N,\N,original,\N,2,nm0663678,actress,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
5,tt0045960,1,\N,\N,original,\N,3,nm0608909,actor,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
6,tt0045960,1,\N,\N,original,\N,6,nm0111656,writer,teleplay,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
7,tt0045960,1,\N,\N,original,\N,10,nm1276603,production_designer,\N,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
8,tt0045960,1,\N,\N,original,\N,5,nm0567170,director,series director,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
9,tt0045960,1,\N,\N,original,\N,8,nm0725532,producer,producer,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
10,tt0046855,2,\N,\N,original,\N,6,nm0002042,writer,"story ""A Christmas Carol""",...,1954,\N,60,"Adventure,Drama,Family",nm0506589,tt0046643,1,4,6.3,107
11,tt0046855,2,\N,\N,original,\N,3,nm0545298,actor,\N,...,1954,\N,60,"Adventure,Drama,Family",nm0506589,tt0046643,1,4,6.3,107
12,tt0046855,2,\N,\N,original,\N,4,nm0001651,actor,\N,...,1954,\N,60,"Adventure,Drama,Family",nm0506589,tt0046643,1,4,6.3,107
13,tt0046855,2,\N,\N,original,\N,7,nm0027173,writer,adaptation,...,1954,\N,60,"Adventure,Drama,Family",nm0506589,tt0046643,1,4,6.3,107
14,tt0046855,2,\N,\N,original,\N,1,nm0526485,self,\N,...,1954,\N,60,"Adventure,Drama,Family",nm0506589,tt0046643,1,4,6.3,107

Consider desired columns

In [31]:
final_dataframe = final_dataframe[['titleId','nconst', 'region','language','attributes','category','job','characters','primaryName','birthYear','deathYear','primaryProfession','knownForTitles','titleType','primaryTitle','isAdult','startYear','endYear','runtimeMinutes','genres','directors','parentTconst','seasonNumber','episodeNumber','averageRating','numVotes']]
final_dataframe.head(3)

,titleId,nconst,region,language,attributes,category,job,characters,primaryName,birthYear,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0045960,nm0000636,\N,\N,\N,writer,play,\N,William Shakespeare,1564,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
1,tt0045960,nm0281955,\N,\N,\N,actor,\N,"[""Earl of Kent (segment)""]",Bramwell Fletcher,1904,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
2,tt0045960,nm0000080,\N,\N,\N,actor,\N,"[""King Lear (segment)""]",Orson Welles,1915,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147

In [32]:
final_dataframe.dtypes

titleId               object
nconst                object
region                object
language              object
attributes            object
category              object
job                   object
characters            object
primaryName           object
birthYear             object
deathYear             object
primaryProfession     object
knownForTitles        object
titleType             object
primaryTitle          object
isAdult                int64
startYear             object
endYear               object
runtimeMinutes        object
genres                object
directors             object
parentTconst          object
seasonNumber          object
episodeNumber         object
averageRating        float64
numVotes               int64
dtype: object

In [33]:
#final_dataframe.to_csv('imdb_dataset.csv')

In [34]:
#read csv
df = pd.read_excel("imdb_dataset_concat.xlsx")
df.head()

,titleId,nconst,region,language,attributes,category,job,characters,primaryName,birthYear,...,startYear,endYear,runtimeMinutes,genres,directors,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0045960,nm0000636,\N,\N,\N,writer,play,\N,William Shakespeare,1564,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
1,tt0045960,nm0281955,\N,\N,\N,actor,\N,"[""Earl of Kent (segment)""]",Bramwell Fletcher,1904,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
2,tt0045960,nm0000080,\N,\N,\N,actor,\N,"[""King Lear (segment)""]",Orson Welles,1915,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
3,tt0045960,nm0861110,\N,\N,\N,composer,\N,\N,Virgil Thomson,1896,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147
4,tt0045960,nm0663678,\N,\N,\N,actress,\N,"[""Cordelia (segment)""]",Natasha Parry,1930,...,1953,\N,75,"Drama,History,Music",nm0567170,tt0044284,2,3,7.0,147

In [35]:
table = df.groupby(['titleId','primaryTitle','region','language','attributes','startYear','endYear','runtimeMinutes','genres','directors','parentTconst','seasonNumber','episodeNumber','averageRating','numVotes','isAdult'], sort=False)['category','nconst','job','characters','primaryName','birthYear','deathYear','primaryProfession'].agg(lambda x: '||'.join(x.astype(str))).reset_index()
table

,titleId,primaryTitle,region,language,attributes,startYear,endYear,runtimeMinutes,genres,directors,...,numVotes,isAdult,category,nconst,job,characters,primaryName,birthYear,deathYear,primaryProfession
0,tt0045960,King Lear,\N,\N,\N,1953,\N,75,"Drama,History,Music",nm0567170,...,147,0,writer||actor||actor||composer||actress||actor...,nm0000636||nm0281955||nm0000080||nm0861110||nm...,play||\N||\N||\N||\N||\N||teleplay||\N||series...,"\N||[""Earl of Kent (segment)""]||[""King Lear (s...",William Shakespeare||Bramwell Fletcher||Orson ...,1564||1904||1915||1896||1930||1910||1925||\N||...,1616||1988||1985||1989||2015||1989||\N||\N||20...,"writer,soundtrack,miscellaneous||actor,soundtr..."
1,tt0046855,A Christmas Carol,\N,\N,\N,1954,\N,60,"Adventure,Drama,Family",nm0506589,...,107,0,writer||actor||actor||writer||self||composer||...,nm0002042||nm0545298||nm0001651||nm0027173||nm...,"story ""A Christmas Carol""||\N||\N||adaptation|...","\N||[""Ebenezer Scrooge""]||[""Marley's Ghost""]||...",Charles Dickens||Fredric March||Basil Rathbone...,1812||1897||1892||1888||1914||1911||1907||1911...,1870||1975||1967||1959||1975||1975||1965||1970...,"writer,soundtrack,miscellaneous||actor,soundtr..."
2,tt0048378,The Miracle on 34th Street,\N,\N,\N,1955,\N,46,Drama,nm0829038,...,182,0,director||actor||writer||writer||actress||acto...,nm0829038||nm0593775||nm0780833||nm0598267||nm...,\N||\N||based on a screenplay by||teleplay||\N...,"\N||[""Kris Kringle""]||\N||\N||[""Doris Walker""]...",Robert Stevenson||Thomas Mitchell||George Seat...,1905||1892||1911||1910||1918||1913||1905||1905...,1986||1962||1979||2004||2005||1994||1961||1983...,"director,writer,producer||actor,writer,soundtr..."
3,tt0048462,The Ox-Bow Incident,\N,\N,\N,1955,\N,60,Drama,nm0652631,...,11,0,actor||self||writer||writer||cinematographer||...,nm0285922||nm0001072||nm0873707||nm0888099||nm...,\N||\N||original screenplay||novel||\N||\N||ad...,"[""Monty Smith""]||[""Himself - Host""]||\N||\N||\...",Wallace Ford||Joseph Cotten||Lamar Trotti||Wal...,1898||1905||1900||1909||1905||1897||1916||1915...,1966||1994||1952||1971||1983||1960||2010||1987...,"actor,soundtrack||actor,soundtrack,writer||wri..."
4,tt0057671,The Forgotten Army,\N,\N,\N,1963,\N,25,"Documentary,Short",nm0651915,...,29,0,director||actor||writer||producer||cinematogra...,nm0651915||nm0464587||nm0370591||nm0882356||nm...,\N||\N||co-writer||producer||\N||\N||\N,"\N||[""Narrator""]||\N||\N||\N||\N||\N",Nagisa Ã”shima||HÃ´sei Komatsu||Akira Hayasaka...,1932||1924||1929||1930||\N||\N||\N,2013||2003||\N||1997||\N||\N||\N,"director,writer,actor||actor||writer||producer..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5053,tt7267456,Thank You and Good Night,\N,\N,\N,2017,\N,62,"Comedy,Drama",nm0792371,...,1560,0,cinematographer||actress||director||actress||p...,nm0002470||nm0097504||nm0792371||nm0385792||nm...,\N||\N||\N||\N||producer||\N||\N||\N||story ed...,"\N||[""Susie Myerson""]||\N||[""Rose Weissman""]||...",M. David Mullen||Alex Borstein||Amy Sherman-Pa...,1962||1971||1968||1966||\N||1962||\N||1990||\N...,\N||\N||\N||\N||\N||\N||\N||\N||\N||\N,"cinematographer,camera_department,art_departme..."
5054,tt7273480,Darkness Falls,\N,\N,\N,2018,\N,46,"Adventure,Drama,Sci-Fi",nm0332740,...,231,0,writer||director||writer||actor||writer||actre...,nm0418321||nm0332740||nm0097004||nm0745353||nm...,creator||\N||creator||\N||creator||\N||\N||\N|...,"\N||\N||\N||[""Robert Foucault""]||\N||[""Amelie ...",Karen Janszen||Everardo Gout||AndrÃ© Bormanis|...,\N||\N||1959||\N||\N||1981||\N||1978||\N||\N,\N||\N||\N||\N||\N||\N||\N||\N||\N||\N,"writer,producer||director,producer,writer||mis..."
5055,tt7278312,Rickety Rockin' Rhonda,\N,\N,\N,2017,\N,41,Reality-TV,\N,...,10,0,producer||self||self||editor||composer||self||...,nm0715376||nm3442419||nm4371350||nm2601538||nm...,producer||\N||\N||\N||composer||\N||\N,"\N||[""Himself - Narrator""]||[""Himself - Host""]...",Darrin Reed||P.J. King||Jon Taffer||Seung Im||...,\N||\N||\N||\N||\N||1976||\N,\N||\N||\N||\N||\N||\N||\N,"producer,writer,actor||actor||producer,actor||..."
5056,tt7278346,The Wax Museum,\N,\N,\N,2018,\N,21,Comedy,nm0103785,...,109,0,actor||writer||producer||actress||actor||write...,nm0103785||nm0850696||nm0452527||nm1587188||nm...,\N||creator||producer||\N||\N||executive story...,"[""Alex Schuman""]||\N||\N||[""Rooni Schuman""]||[...",Zach Braff||Matt Tarses||Patrick Kienlen||Tiya...,1975||\N||\N||1982||2004||\N||\N||\N||\N||\N,\N||\N||\N||\N||\N||\N||\N||\N||\N||\N,"actor,producer,director||producer,writer,misce..."
5057,tt7278522,Tell All: Part 2,\N,\N,\N,2017,\N,42,Reality-TV,\N,...,6,0,actress||actor||actress||actress||actor||actor...,nm8509826||nm8509827||nm8505081||nm7372108||nm...,\N||\N||\N||\N||\N||\N||\N,\N||\N||\N||\N||\N||\N||\N,Chantel||Pedro||Anfisa Arkhipchenko||Paola May...,\N||\N||\N||\N||\N||\N||\N,\N||\N||\N||\N||\N||\N||\N,actress||actor||actress||actress||actor||nan||...

Replace \N with meaningful label for proper understanding of the dataset

In [36]:
table = table.replace(r'\\N','No Information', regex=True)
table

,titleId,primaryTitle,region,language,attributes,startYear,endYear,runtimeMinutes,genres,directors,...,numVotes,isAdult,category,nconst,job,characters,primaryName,birthYear,deathYear,primaryProfession
0,tt0045960,King Lear,No Information,No Information,No Information,1953,No Information,75,"Drama,History,Music",nm0567170,...,147,0,writer||actor||actor||composer||actress||actor...,nm0000636||nm0281955||nm0000080||nm0861110||nm...,play||No Information||No Information||No Infor...,"No Information||[""Earl of Kent (segment)""]||[""...",William Shakespeare||Bramwell Fletcher||Orson ...,1564||1904||1915||1896||1930||1910||1925||No I...,1616||1988||1985||1989||2015||1989||No Informa...,"writer,soundtrack,miscellaneous||actor,soundtr..."
1,tt0046855,A Christmas Carol,No Information,No Information,No Information,1954,No Information,60,"Adventure,Drama,Family",nm0506589,...,107,0,writer||actor||actor||writer||self||composer||...,nm0002042||nm0545298||nm0001651||nm0027173||nm...,"story ""A Christmas Carol""||No Information||No ...","No Information||[""Ebenezer Scrooge""]||[""Marley...",Charles Dickens||Fredric March||Basil Rathbone...,1812||1897||1892||1888||1914||1911||1907||1911...,1870||1975||1967||1959||1975||1975||1965||1970...,"writer,soundtrack,miscellaneous||actor,soundtr..."
2,tt0048378,The Miracle on 34th Street,No Information,No Information,No Information,1955,No Information,46,Drama,nm0829038,...,182,0,director||actor||writer||writer||actress||acto...,nm0829038||nm0593775||nm0780833||nm0598267||nm...,No Information||No Information||based on a scr...,"No Information||[""Kris Kringle""]||No Informati...",Robert Stevenson||Thomas Mitchell||George Seat...,1905||1892||1911||1910||1918||1913||1905||1905...,1986||1962||1979||2004||2005||1994||1961||1983...,"director,writer,producer||actor,writer,soundtr..."
3,tt0048462,The Ox-Bow Incident,No Information,No Information,No Information,1955,No Information,60,Drama,nm0652631,...,11,0,actor||self||writer||writer||cinematographer||...,nm0285922||nm0001072||nm0873707||nm0888099||nm...,No Information||No Information||original scree...,"[""Monty Smith""]||[""Himself - Host""]||No Inform...",Wallace Ford||Joseph Cotten||Lamar Trotti||Wal...,1898||1905||1900||1909||1905||1897||1916||1915...,1966||1994||1952||1971||1983||1960||2010||1987...,"actor,soundtrack||actor,soundtrack,writer||wri..."
4,tt0057671,The Forgotten Army,No Information,No Information,No Information,1963,No Information,25,"Documentary,Short",nm0651915,...,29,0,director||actor||writer||producer||cinematogra...,nm0651915||nm0464587||nm0370591||nm0882356||nm...,No Information||No Information||co-writer||pro...,"No Information||[""Narrator""]||No Information||...",Nagisa Ã”shima||HÃ´sei Komatsu||Akira Hayasaka...,1932||1924||1929||1930||No Information||No Inf...,2013||2003||No Information||1997||No Informati...,"director,writer,actor||actor||writer||producer..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5053,tt7267456,Thank You and Good Night,No Information,No Information,No Information,2017,No Information,62,"Comedy,Drama",nm0792371,...,1560,0,cinematographer||actress||director||actress||p...,nm0002470||nm0097504||nm0792371||nm0385792||nm...,No Information||No Information||No Information...,"No Information||[""Susie Myerson""]||No Informat...",M. David Mullen||Alex Borstein||Amy Sherman-Pa...,1962||1971||1968||1966||No Information||1962||...,No Information||No Information||No Information...,"cinematographer,camera_department,art_departme..."
5054,tt7273480,Darkness Falls,No Information,No Information,No Information,2018,No Information,46,"Adventure,Drama,Sci-Fi",nm0332740,...,231,0,writer||director||writer||actor||writer||actre...,nm0418321||nm0332740||nm0097004||nm0745353||nm...,creator||No Information||creator||No Informati...,No Information||No Information||No Information...,Karen Janszen||Everardo Gout||AndrÃ© Bormanis|...,No Information||No Information||1959||No Infor...,No Information||No Information||No Information...,"writer,producer||director,producer,writer||mis..."
5055,tt7278312,Rickety Rockin' Rhonda,No Information,No Information,No Information,2017,No Information,41,Reality-TV,No Information,...,10,0,producer||self||self||editor||composer||self||...,nm0715376||nm3442419||nm4371350||nm2601538||nm...,producer||No Information||No Information||No I...,"No Information||[""Himself - Narrator""]||[""Hims...",Darrin Reed||P.J. King||Jon Taffer||Seung Im||...,No Information||No Information||No Information...,No Information||No Information||No Information...,"producer,writer,actor||actor||producer,actor||..."
5056,tt7278346,The Wax Museum,No Information,No Information,No Information,2018,No Information,21,Comedy,nm0103785,...,109,0,actor||writer||producer||actress||actor||write...,nm0103785||nm0850696||nm0452527||nm1587188||nm...,No Information||creator||producer||No Informat...,"[""Alex Schuman""]||No Information||No Informati...",Zach Braff||Matt Tarses||Patrick Kienlen||Tiya...,1975||No Information||No Information||1982||20...,No Information||No Information||No Information...,"actor,producer,director||producer,writer,misce..."
5057,tt7278522,Tell All: Part 2,No Information,No Information,No Information,2017,No Information,42,Reality-TV,No Information,...,6,0,actress||actor||actress||actress||actor||actor...,nm8509826||nm8509827||nm8505081||nm7372108||nm...,No Information||No Information||No Information...,No Information||No Information||No Information...,Chantel||Pedro||Anfisa Arkhipchenko||Paola May...,No Information||No Information||No Information...,No Information||No Information||No Information...,actress||actor||actress||actress||actor||nan||...

In [37]:
#table.to_csv('final_imdb_dataset.csv')

Trim all the leading and trailing white spaces in the all the columns

In [38]:
### Define function
def trim_head_tail_space(df_column):
    clean_df_column = df_column.str.strip()
    print("row changes in column " + str(df_column.name) +": " ,sum(df_column!=clean_df_column))
    return clean_df_column


### Run function
table['titleId'] = trim_head_tail_space(table['titleId'])
table['nconst'] = trim_head_tail_space(table['nconst'])
table['region'] = trim_head_tail_space(table['region'])
table['language'] = trim_head_tail_space(table['language'])
table['attributes'] = trim_head_tail_space(table['attributes'])
table['category'] = trim_head_tail_space(table['category'])
table['job'] = trim_head_tail_space(table['job'])
table['characters'] = trim_head_tail_space(table['characters'])
table['primaryName'] = trim_head_tail_space(table['primaryName'])
table['birthYear'] = trim_head_tail_space(table['birthYear'])
table['deathYear'] = trim_head_tail_space(table['deathYear'])
table['primaryProfession'] = trim_head_tail_space(table['primaryProfession'])
table['primaryTitle'] = trim_head_tail_space(table['primaryTitle'])
table['startYear'] = trim_head_tail_space(table['startYear'])
table['endYear'] = trim_head_tail_space(table['endYear'])
table['runtimeMinutes'] = trim_head_tail_space(table['runtimeMinutes'])
table['genres'] = trim_head_tail_space(table['genres'])
table['directors'] = trim_head_tail_space(table['directors'])
table['parentTconst'] = trim_head_tail_space(table['parentTconst'])
table['seasonNumber'] = trim_head_tail_space(table['seasonNumber'])
table['episodeNumber'] = trim_head_tail_space(table['episodeNumber'])

row changes in column titleId:  0
row changes in column nconst:  0
row changes in column region:  0
row changes in column language:  0
row changes in column attributes:  0
row changes in column category:  0
row changes in column job:  0
row changes in column characters:  0
row changes in column primaryName:  0
row changes in column birthYear:  0
row changes in column deathYear:  0
row changes in column primaryProfession:  0
row changes in column primaryTitle:  3
row changes in column startYear:  5057
row changes in column endYear:  0
row changes in column runtimeMinutes:  4204
row changes in column genres:  0
row changes in column directors:  0
row changes in column parentTconst:  0
row changes in column seasonNumber:  4787
row changes in column episodeNumber:  4787

 Collapse consecutive white spaces

In [39]:
### Define function
def remove_consecutive_spaces(df_column):
    clean_df_column = df_column.replace('\s+', ' ', regex=True)
    print("row changes in column " + str(df_column.name) +": " ,sum(df_column!=clean_df_column))
    return clean_df_column

### Run function
table['titleId'] = remove_consecutive_spaces(table['titleId'])
table['nconst'] = remove_consecutive_spaces(table['nconst'])
table['region'] = remove_consecutive_spaces(table['region'])
table['language'] = remove_consecutive_spaces(table['language'])
table['attributes'] = remove_consecutive_spaces(table['attributes'])
table['category'] = remove_consecutive_spaces(table['category'])
table['job'] = remove_consecutive_spaces(table['job'])
table['characters'] = remove_consecutive_spaces(table['characters'])
table['primaryName'] = remove_consecutive_spaces(table['primaryName'])
table['birthYear'] = remove_consecutive_spaces(table['birthYear'])
table['deathYear'] = remove_consecutive_spaces(table['deathYear'])
table['primaryProfession'] = remove_consecutive_spaces(table['primaryProfession'])
table['primaryTitle'] = remove_consecutive_spaces(table['primaryTitle'])
table['startYear'] = remove_consecutive_spaces(table['startYear'])
table['endYear'] = remove_consecutive_spaces(table['endYear'])
table['runtimeMinutes'] = remove_consecutive_spaces(table['runtimeMinutes'])
table['genres'] = remove_consecutive_spaces(table['genres'])
table['directors'] = remove_consecutive_spaces(table['directors'])
table['parentTconst'] = remove_consecutive_spaces(table['parentTconst'])
table['seasonNumber'] = remove_consecutive_spaces(table['seasonNumber'])
table['episodeNumber'] = remove_consecutive_spaces(table['episodeNumber'])

row changes in column titleId:  0
row changes in column nconst:  0
row changes in column region:  0
row changes in column language:  0
row changes in column attributes:  0
row changes in column category:  0
row changes in column job:  2
row changes in column characters:  1
row changes in column primaryName:  4
row changes in column birthYear:  0
row changes in column deathYear:  0
row changes in column primaryProfession:  0
row changes in column primaryTitle:  22
row changes in column startYear:  5057
row changes in column endYear:  0
row changes in column runtimeMinutes:  4204
row changes in column genres:  0
row changes in column directors:  0
row changes in column parentTconst:  0
row changes in column seasonNumber:  4787
row changes in column episodeNumber:  4787

Check for integrity Constraints on Titleid, startyear, runtime, average rating, season_number

In [40]:
#Check if titleid Identifier is unique
#startyear should not be zero 0 
#runtimeMinutes should not zero 
#seasonNumber cannot be 0
#averageRating cannot be greater than 10 and smaller than or equal to zero.

In [43]:
#Check if titleid Identifier is unique
id_series_titleid = table['titleId']
if (len(set(id_series_titleid)) == len(id_series_titleid)):
    print ("Title_ids are unique!")
else:
    print ("there is a duplicate!")
    

#startyear constraint check
id_series_startyear = table['startYear']
if (len(id_series_startyear) !='0'):
    print ("Start year is valid")
else:
    print ("Start year not valid")
    
#runtime constraint check
id_series_runtime = table['runtimeMinutes']
if (len(id_series_runtime) !='0'):
    print ("runtime is valid")
else:
    print ("runtime is not valid")


#averagerating constraint check
id_series_averageRating = table['averageRating']
if (0.0<=len(id_series_averageRating)<= 10.0):
    print ("averageRating is not valid")
else:
    print ("averageRating is valid")
    

##season_number constraint check
id_series_seasonnumber = table['seasonNumber']
if (len(id_series_seasonnumber) !='0'):
    print ("season number is valid")
else:
    print ("season number is not valid")

Title_ids are unique!
Start year is valid
runtime is valid
averageRating is valid
season number is valid